/* @import url(./styles/variables.css); */

:root {
    --color-accent: blue;
    --color-dark: #333;
    --color-medium: #666;
    --color-light: #fff;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--color-medium);
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
}

input, select {
    border: 2px solid var(--color-dark);
    border-radius: 4px;
    padding: 0.5rem 1rem;
    outline: none;
    margin: 0;
    border-radius: 0px;
  }

  button {
    appearance: none;
    background: transparent;
    font-weight: bold;
    border: 2px solid var(--color-dark);
    border-radius: 0px;
    padding: 0.5rem 1rem;
    outline: none;
    margin: 0;
    cursor: pointer;
  }

  button:hover:not(:disabled) {
    background-color: var(--color-dark);
    color: var(--color-light);
  }