/* @import url(./styles/variables.css); */

:root {
  --gradient-accent: linear-gradient(90deg, #FFC371 0%, #FF5F6D 100%);
  /* Pastel blue and green linear gradient */
  --gradient-accent-light: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
  --color-accent: blue;
  --color-darker: #000;
  --color-dark: #666;
  --color-medium: #999;
  --color-light: #eee;
  --color-lighter: #fff;
  --radius-small: 6px;
  --radius-medium: 12px;
  --radius-large: 16px;
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  --shadow-small: 0 0 4px rgba(0, 0, 0, 0.25);
  --shadow-medium: 0 0 8px rgba(0, 0, 0, 0.25);
  --shadow-large: 0 0 16px rgba(0, 0, 0, 0.25);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-medium);
}

textarea {
  resize: none;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  font-size: 14px;
}

p {
  margin: 0;
}

html, body, #root, .app, .content {
  /* height: 100%; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--color-lighter);
  height: 100%;
  padding: 1rem;
}

.content {
  display: flex;
}

label {
  font-weight: bold;
  font-size: 12px;
}

input,
select,
button,
textarea {
  border: none;
  border-radius: var(--radius-small);
  background-color: var(--color-lighter);
  border: 2px solid var(--color-dark);
  /* box-shadow: var(--shadow-small); */
  padding: 0.5rem 1rem;
  outline: none;
  margin: 0;
  font-size: inherit;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  appearance: none;
  cursor: pointer;
  /* font-weight: bold; */
  /* background: var(--color-medium); */
  color: var(--color-dark);
  outline: none;
  margin: 0;
}

button svg {
  font-size: 32px;
}

button:hover:not(:disabled) {
  background-color: var(--color-dark);
  /* background: var(--gradient-accent); */
  color: var(--color-light);
}

.medications {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  gap: 1rem;
}

.medication {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 2rem;
  /* border: 2px solid var(--color-dark); */
  border-radius: var(--radius-medium);
  background-color: var(--color-lighter);
  box-shadow: var(--shadow-small);
}

.modal {
  position: absolute;
  bottom: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  backdrop-filter: blur(10px);
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1;
}

.modal-close {
  position: absolute;
  bottom: 0;
}

.container {
  background-color: var(--color-light);
  border-radius: var(--radius-medium);
  padding: 1rem;
}

.container header {
  display: flex;
  gap: 1rem;
  align-items: center;
  border-bottom: 2px solid var(--color-dark);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.button-container {
  display: flex;
  gap: var(--spacing-small);
}

.timeline {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
}

.date {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.days {
  display: flex;
  justify-content: center;
  overflow: scroll;
  gap: 1rem;
  width: 100%;
}

.day {

  align-items: center;
  justify-content: center;
  padding: 1rem;
  /* border: 2px solid var(--color-dark); */
  border-radius: var(--radius-medium);
}

tr.current td.hour, th.current {
  /* Linear gradient with bold colors */
  background: var(--gradient-accent);
  /* Lol dude leave this comment to recollect that it came up with exactly the colors you had in mind when AI auto-completed this */
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  /* border-bottom: 2px solid var(--color-dark); */
  /* margin: 1rem; */
  /* background-color: var(--color-light); */
  border-radius: var(--radius-medium);
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  flex: 1;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.distribute {
  justify-content: space-between;
}
.drawer {
  /* position: absolute; */
  margin: 0 1rem;
  /* bottom: 0; */
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  /* width: 100%; */
  backdrop-filter: blur(10px);
  /* left: 0; */
  background-color: var(--color-light);
  border-radius: var(--radius-medium);
  /* border-right: 2px solid var(--color-dark); */
  padding: 1rem;
  /* z-index: 1; */
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: var(--color-light);
  color: var(--color-dark);
  font-size: 32px;
}


.drawer--content {
  display: flex;
  /* flex-direction: column; */
  gap: 1rem;
}

.drawer--link {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: var(--radius-small);
  background-color: var(--color-light);
  color: var(--color-darker);
  text-decoration: none;
  cursor: pointer;
}


.drawer--link.active {
  background: var(--gradient-accent);
}

.body {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  /* overflow: hidden; */
  background-color: var(--color-light);
  border-radius: var(--radius-medium);
}

.hour.current .time-slot.current {
  background: var(--gradient-accent);
}
/* 
.hours:hover .float {
  pointer-events: initial;
  visibility: visible;
} */

.float {
  position: sticky;
  pointer-events: none;
  visibility: hidden;
  /* display: none; */
  
  /* z-index: 1; */
}

.float--top {
  top: 1rem;
}

.float--bottom {
  bottom: 1rem;
}

/* .hour.current {
  font-size: 150%;
  background: var(--gradient-accent);
} */

.toolbar {
  display: flex;
}

.time-slots {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  /* flex-wrap: wrap; */
  overflow: scroll;
  padding: 1rem;
  font-size: 12px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  padding: 0.5rem;
  text-align: center;
  border: 1px solid var(--color-dark);
}

