html, body {
    overflow: hidden;
    user-select: none;
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.splash {
    color: white;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
    font-size: 2.4rem;
    font-weight: bold;
}