/* Splash.css */
@media screen and (prefers-color-scheme: light),
screen and (prefers-color-scheme: no-preference) {

    /* Light theme */
    body {
        color: #000;
        background-color: #fff;
    }
}

@media screen and (prefers-color-scheme: dark) {

    /* Dark theme */
    body {
        color: #fff;
        /* background: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #fd1892 100%) fixed no-repeat; */
        background-color: #001;
    }
}

.splash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}